// app.scss

// Estilo global
ion-app {
  background-color: #f4f4f4;
}

// Estilo del encabezado
ion-header {
  ion-toolbar {
    --background: #3880ff;
    color: white;
  }
}

// Estilo del contenido principal
ion-content {
  --background: #ffffff;
  ion-item {
    margin-bottom: 10px;
  }

  .map-container {
    // Ajusta el espacio entre el mapa y otros elementos según sea necesario
    margin-bottom: 20px;
  }

  .search-item {
    // Ajusta el espacio antes del campo de búsqueda
    margin-top: 20px;
  }

  .button-margin {
    // Ajusta el espacio antes/después de los botones según sea necesario
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-margin {
    // Ajusta el espacio antes/después de la tarjeta según sea necesario
    margin-bottom: 20px;
  }
}

// Estilo de los botones
ion-button {
  --background: #3880ff;
  --border-radius: 8px;
  color: white;
}

// Estilo de la tarjeta
ion-card {
  --background: #ffffff;
}
