<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="map-container">
  <div id="map"></div>

  <ion-item class="search-item">
    <ion-input [(ngModel)]="searchInputValue" (ionChange)="searchByName(searchInputValue)"></ion-input>
  </ion-item>

  <ion-list *ngIf="mapService.searchResults | async as results">
    <ion-item *ngFor="let result of results" (click)="selectSearchResult(result)">
      {{ result.text }}
    </ion-item>
  </ion-list>

  <ion-card *ngIf="selectedCoordinates">
    <ion-card-header>
      <ion-card-title>Información Seleccionada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Coordenadas: {{ selectedCoordinates | json }}</p>
      <p>Lugar: {{ selectedPlaceName }}</p>
      <p>Calle: {{ selectedStreetData?.streetName }}</p>

      <ion-button (click)="removeMarker()" class="button-margin">
        Limpiar Marcador
      </ion-button>

      <ion-button (click)="sendDataToInicioPage()" class="button-margin">
        Enviar Datos a Inicio
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="navigateToInicioPage()" expand="full" fill="outline" color="primary" class="button-margin">
    Go to Inicio Page
  </ion-button>
</ion-content>
