<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- Contenido del menú -->
    <ion-list>
      <!-- Botón para ir a la página de inicio -->
      <ion-item [routerLink]="['/home']">
        Mapa
      </ion-item>
      
      <!-- Botón para ir a la página con el código QR -->
      <ion-item [routerLink]="['/codigoqr']">
        Ver QR
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Botón para abrir el menú lateral -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <div id="location">
      <ion-icon name="location"></ion-icon>
      <h4 class="ion-no-margin">{{ receivedPlaceName }}</h4>
    </div>

  <ion-content class="ion-padding">
    <div class="ion-padding wrapper">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-baseline">
      <ion-col size="6">
        <h4 class="title">
          Platos Populares
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4 class="more ion-text-end">
          Ver más
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">
  
          <!-- Slide 1 -->
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                <ion-card-title class="title">Pizza</ion-card-title>
                <ion-card-subtitle>Deliciosa pizza con queso y pepperoni.</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
  
          <!-- Slide 2 -->
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/793759/pexels-photo-793759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                <ion-card-title class="title">Saludables</ion-card-title>
                <ion-card-subtitle>Ensaladas y platos saludables para mantenerte en forma.</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
  
          <!-- Slide 3 -->
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/1291712/pexels-photo-1291712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                <ion-card-title class="title">Postres</ion-card-title>
                <ion-card-subtitle>Deliciosos postres para satisfacer tu dulce diente.</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
  
          <!-- Slide 4 -->
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                <ion-card-title class="title">Almuerzos</ion-card-title>
                <ion-card-subtitle>Platos sustanciosos para satisfacer tu hambre.</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
  
          <!-- Slide 5 -->
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                <ion-card-title class="title">Hamburguesas</ion-card-title>
                <ion-card-subtitle>Deliciosas hamburguesas con todos los condimentos.</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
  
          <!-- Slide 6 -->
          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">
                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/361184/asparagus-steak-veal-steak-veal-361184.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                <ion-card-title class="title">Otros</ion-card-title>
                <ion-card-subtitle>Encuentra platos a tu gusto.</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>
  
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding-horizontal wrapper">
  
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Explorar Categorías
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            Mostrar más
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    </div>
  
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="categories">
  
            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/dish.svg"></ion-icon>
                  <ion-card-title>Comida</ion-card-title>
                  <ion-card-subtitle>Algo aquí</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="primary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/cocktail.svg"></ion-icon>
                  <ion-card-title>Bebidas</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="warning">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/burger.svg"></ion-icon>
                  <ion-card-title>Burger</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="success">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/pizza.svg"></ion-icon>
                  <ion-card-title>Pizza</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="tertiary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/taco.svg"></ion-icon>
                  <ion-card-title>Mexican</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/cookies.svg"></ion-icon>
                  <ion-card-title>Dessert</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="secondary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/noodle.svg"></ion-icon>
                  <ion-card-title>Noodle</ion-card-title>
                  <ion-card-subtitle>Something here</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            

            
  
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div class="ion-padding-horizontal wrapper">
    
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-baseline">
          <ion-col size="6">
            <h4 class="title">
              Bebidas Recomendadas
            </h4>
          </ion-col>
          <ion-col size="6">
            <h4 class="more ion-text-end">
              Mostrar más
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      </div>
    
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-slides [options]="options">
      
              <!-- Slide 1 -->
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
                    <div class="img-wrapper">
                      <ion-img src="assets/bebidas-cafe-5678-1536x1043.jpg"></ion-img>
                    </div>
                    <ion-card-title class="title">Bebidas de Café</ion-card-title>
                    <ion-card-subtitle>Disfruta de nuestras increíbles bebidas de café.</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
              <!-- Slide 2 -->
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
                    <div class="img-wrapper">
                      <ion-img src="assets/helados-frutales-caseros.jpg"></ion-img>
                    </div>
                    <ion-card-title class="title">Helados Frutales Caseros</ion-card-title>
                    <ion-card-subtitle>Prueba nuestros deliciosos helados frutales hechos en casa.</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
              <!-- Slide 3 -->
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
                    <div class="img-wrapper">
                      <ion-img src="assets/R (9).jpg"></ion-img>
                    </div>
                    <ion-card-title class="title">Algo Interesante</ion-card-title>
                    <ion-card-subtitle>Busca tus bebidas favoritas</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
      
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <div class="ion-padding">
        <ion-row>
          <ion-col size="6">
            <ion-badge color="light" class="ion-margin-end">
              FastFood Company
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-badge color="light">
              fastfoodcompany.com
            </ion-badge>
          </ion-col>
        </ion-row>
      </div>

</ion-content>
